.header-img {
  margin: 15px;
  width: 2%;
}

.logo {
  width: 15%;
}

.sub-title {
  width: 30%;
}

.coin {
  margin-left: 40px;
}
.card-box {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sub-card {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .card-box {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-img {
    margin: 10px;
    width: 5%;
  }

  .logo {
    width: 35%;
  }

  .title {
    font-size: 20px;
  }

  .sub-title {
    width: 80%;
  }

  .coin {
    width: "50%";
    margin-left: 20px;
  }

  .coin-card {
    width: 40%;
    height: 250px;
    border: 1px solid #ffc104;
    margin-left: 0px;
  }

  .img-location {
    margin-left: 20%;
    margin-top: 50px;
    z-index: 10000;
  }
}
